{% extends 'base.html' %}

{% block title %}
Edit {{ mealplan.name }} |
{% endblock %}

{% block content %}
<main class="meal-plans-form">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="control">
            <button class="button">Update</button>
        </div>
    </form>
</main>
{% endblock content %}