{% extends 'paginate.html' %}

{% block title %}
Meal Plans |
{% endblock %}

{% block create %}
{% if user.is_authenticated %}
<div class="meal-plan-create">
    <span class="meal-plan-links">
        <a href="{% url 'meal_plan_new' %}">Create</a>
    </span>
</div>
{% endif %}
{% endblock create %}

{% block content %}
<main class="meal-plans-grid">
    {% for mealplan in mealplan_list %}
    <div class="recipe-card">
        <h2 class="recipe-card-title">
            <a href="{% url 'meal_plan_detail' mealplan.id %}">{{ mealplan.name }}</a>
        </h2>
        {% for recipe in mealplan.recipes.all %}
        <p>
            <a href="{% url 'recipe_detail' recipe.pk %}">{{ recipe.name }}</a>
        </p>
        {% endfor %}
    </div>
    {% empty %}
    <div>
        <h1>No meal plans, yet</h1>
        <p>
            Would you like to
            <a href="{% url 'meal_plan_new' %}">create</a>
            one?
        </p>
    </div>
    {% endfor %}
</main>
{% endblock content %}