@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, button, select, textarea, input {
  font-family: 'Roboto';
  font-size: 16px;
}

header nav ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  justify-items: center;
}

a,
a:visited {
  text-decoration: none;
  color: #208ACC;
}

a:hover {
  color: #85D0FF;
}

button.button {
  background-color: #208ACC;
  border: 2px solid transparent;
  border-radius: 4px;
  color: white;
  padding: 1em 1.5em;
  text-transform: uppercase;
}

button.button:hover {
  background-color: white;
  border-color: #208ACC;
  color: #208ACC;
}

button.button:active {
  background-color: lightblue;
}

input, textarea {
  border: 1px solid #208ACC;
  border-radius: 4px;
  padding: 1em 1.5em;
}

table {
  margin: auto;
}

td, th {
  padding: .25em .5em;
}

textarea {
  resize: none;
}

.recipe-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2em;
  padding: 2em;
}

.recipe-card-title {
  margin-bottom: 0;
}

.recipe-card-date {
  color: darkgray;
}

.recipe-form {
  margin: 4em auto;
  min-width: 300px;
  max-width: 800px;
}

.recipe-form p {
  display: grid;
  grid-template-columns: 8em 1fr;
  column-gap: 20px;
}

.recipe-form label {
  text-align: right;
}

.recipe-detail {
  margin: 4em auto;
  min-width: 300px;
  max-width: 800px;
}

.pull-right {
  float: right;
  margin: 1em;
}

.control {
  text-align: right;
}

footer {
  position: fixed;
  padding: 10px 10px 0px 10px;
  bottom: 0;
  width: 100%;
  height: 40px;
  text-align: center;
  color: #208ACC;
}


/* Tags */
.tag-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2em;
  padding: 2em;
}

.tag-card-title {
  margin-bottom: 0;
}

.tag-card-date {
  color: darkgray;
}

.tag-detail {
  margin: 4em auto;
  min-width: 300px;
  max-width: 800px;
}

.tag-form {
  margin: 4em auto;
  min-width: 300px;
  max-width: 800px;
}

.tag-form p {
  display: grid;
  grid-template-columns: 8em 1fr;
  column-gap: 20px;
}

.tag-form label {
  text-align: right;
}

/* Meal Plans */
.meal-plans-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2em;
  padding: 2em;
}

.meal-plans-card-title {
  margin-bottom: 0;
}

.meal-plans-card-date {
  color: darkgray;
}

.meal-plans-detail {
  margin: 4em auto;
  min-width: 300px;
  max-width: 800px;
}

.meal-plans-form {
  margin: 4em auto;
  min-width: 300px;
  max-width: 800px;
}

.meal-plans-form p {
  display: grid;
  grid-template-columns: 8em 1fr;
  column-gap: 20px;
}

.meal-plans-form label {
  text-align: right;
}

/* Pagination */

.pagination a {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

/* Shopping List */
.shopping-list {
  gap: 2em;
  padding: 2em;
}

.shopping-list-title {
  text-align: center;
}